npm-debug.log
node_modules/
typings/
dist/
out/
.idea/
debug.json
.vscode/
.vs/
src/Essence.zip

#Ignore Vsix & other dev files
*.vsix
vsixPackaged/

#ignore eslint
.eslintrc.js

# JUNIT testresult
test-results.xml

# Coverage directory used by tools like istanbul
coverage
*.lcov
